$nav-background: rgba(255,255,255,0.9);

@mixin dropdown-box {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  margin: 2px 0 0;
  list-style: none;
  background-color: white;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  li {
    width: 50%;
    text-align: center;
    display: block;
    float: left;
    a {
      &:hover { background-color: #141414; background-image: none; }
    }
  }
}

/*#nav-container {
  .navbar-inner {
    text-transform: uppercase;
    min-height: 40px;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 10px;
    height: 80px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    a {
      padding: 5px 10px;
    }
    .logo {
      float: left;
    }
    .menu {
      float: right;
      margin: 15px 0 0 0;
      & > li {
        @include breakpoint(smartphones) {
          display: block;
          float: left;
          width: 50%;
        }
        &:last-child {
          a { padding-right: 0; }
        }
      }
      li.dropdown.open {
        position: relative;
        .dropdown-menu { display: block; }
      }
      .dropdown-menu {
        @include dropdown-box;
      }
    }
    .basket { display: none; }
  }
}*/