/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* filter-gradient needs this */
@font-face {
  font-family: 'michromaregular';
  src: url("fonts/michroma-webfont.eot");
  src: url("fonts/michroma-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/michroma-webfont.woff") format("woff"), url("fonts/michroma-webfont.ttf") format("truetype"), url("fonts/michroma-webfont.svg#michromaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 53, ../scss/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5em;
}

/* line 57, ../scss/screen.scss */
a {
  color: #448ccb;
}
/* line 59, ../scss/screen.scss */
a:hover {
  text-decoration: none;
  color: #448ccb;
}

/* line 69, ../scss/screen.scss */
.container-fluid {
  padding: 0;
}

/* line 72, ../scss/screen.scss */
body {
  font-size: 12px;
  color: #999999;
  font-family: michromaregular,arial,sans-serif;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FF333333');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #000000), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#000000 30%, #333333);
  background-image: -moz-linear-gradient(#000000 30%, #333333);
  background-image: -o-linear-gradient(#000000 30%, #333333);
  background-image: linear-gradient(#000000 30%, #333333);
  background-attachment: fixed;
  background-color: #333333;
  padding-bottom: 100px;
  background-repeat: no-repeat;
}

/* line 84, ../scss/screen.scss */
#header {
  background-image: url("../img/lighting.png");
  background-size: 519px 170px;
  background-repeat: no-repeat;
  background-position: 0 20px;
  height: 200px;
}
/* line 92, ../scss/screen.scss */
#header #logo {
  padding: 35px 0 0 60px;
}
@media (max-width: 547px) {
  /* line 92, ../scss/screen.scss */
  #header #logo {
    padding: 35px 0 0 30px;
  }
}
/* line 97, ../scss/screen.scss */
#header #logo .clientName {
  font-size: 16px;
  padding-bottom: 5px;
  color: #eeeeee;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(50%, black), to(rgba(0, 0, 0, 0.5)));
}
/* line 102, ../scss/screen.scss */
#header #logo #dashboardHeader {
  font-size: 35px;
  margin-left: -5px;
  display: inline-block;
  padding-bottom: 5px;
  color: #eeeeee;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(50%, black), to(rgba(0, 0, 0, 0.5)));
}
/* line 110, ../scss/screen.scss */
#header #projectList {
  overflow: auto;
  background-color: transparent;
  right: 10px;
  height: 183px;
  padding: 35px;
  overflow: auto;
}
@media (max-width: 547px) {
  /* line 110, ../scss/screen.scss */
  #header #projectList {
    padding: 25px;
    right: auto;
  }
}
@media (min-width: 548px) and (max-width: 767px) {
  /* line 110, ../scss/screen.scss */
  #header #projectList {
    padding: 35px 35px 35px 60px;
    right: auto;
  }
}
/* line 125, ../scss/screen.scss */
#header #projectList ul {
  font-size: 16px;
  color: white;
}
/* line 128, ../scss/screen.scss */
#header #projectList ul li {
  background: url("../img/arrowBullet.png") 0px 3px no-repeat;
  background-size: 20px 20px;
  padding-bottom: 15px;
  padding-left: 30px;
}
/* line 129, ../scss/screen.scss */
#header #projectList ul li a {
  color: white;
}

/* line 141, ../scss/screen.scss */
#centralNav {
  padding: 0 20px;
  font-size: 13px;
}
/* line 145, ../scss/screen.scss */
#centralNav div.span12 a {
  margin: 0 30px 0 40px;
  color: #555555;
}
/* line 146, ../scss/screen.scss */
#centralNav div.span12 a.active {
  color: white;
}
@media (max-width: 547px) {
  /* line 145, ../scss/screen.scss */
  #centralNav div.span12 a {
    margin-bottom: 20px;
    display: block;
  }
}
/* line 157, ../scss/screen.scss */
#centralNav .navLine {
  margin-top: -9px;
  height: 5px;
  background-color: transparent;
  border-bottom: 1px solid #555555;
  width: 100%;
}
@media (max-width: 547px) {
  /* line 157, ../scss/screen.scss */
  #centralNav .navLine {
    display: none;
    margin-bottom: 10px;
  }
}
/* line 167, ../scss/screen.scss */
#centralNav .navLine #positionIndicator {
  width: 100px;
  background-color: #448ccb;
  height: 5px;
  position: relative;
  left: 40px;
}

/* line 179, ../scss/screen.scss */
#slider ul li {
  padding: 20px 60px;
}
@media (max-width: 547px) {
  /* line 179, ../scss/screen.scss */
  #slider ul li {
    padding: 20px 20px;
  }
}
/* line 186, ../scss/screen.scss */
#slider h1 {
  font-size: 20px;
  display: inline-block;
  padding-bottom: 6px;
  color: #eeeeee;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(50%, black), to(rgba(0, 0, 0, 0.5)));
}
/* line 192, ../scss/screen.scss */
#slider h2 {
  font-size: 14px;
  margin: 5px 0;
}
/* line 196, ../scss/screen.scss */
#slider .overviewModule {
  margin: 30px 0 0 0;
}
/* line 197, ../scss/screen.scss */
#slider .overviewModule a {
  padding: 10px 10px 10px 0;
  display: inline-block;
}

/* line 205, ../scss/screen.scss */
nav {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 30;
  bottom: 0;
  border-top: 1px solid #999999;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF555555', endColorstr='#FF333333');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #555555), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#555555 30%, #333333);
  background-image: -moz-linear-gradient(#555555 30%, #333333);
  background-image: -o-linear-gradient(#555555 30%, #333333);
  background-image: linear-gradient(#555555 30%, #333333);
}
/* line 214, ../scss/screen.scss */
nav ul {
  list-style: none;
  margin: 0px;
  font-weight: bold;
  text-align: center;
}
/* line 219, ../scss/screen.scss */
nav ul li {
  display: inline-block;
  text-align: left;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  padding: 3px;
}
/* line 224, ../scss/screen.scss */
nav ul li.active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF333333', endColorstr='#FF555555');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #333333), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(#333333 30%, #555555);
  background-image: -moz-linear-gradient(#333333 30%, #555555);
  background-image: -o-linear-gradient(#333333 30%, #555555);
  background-image: linear-gradient(#333333 30%, #555555);
}
/* line 229, ../scss/screen.scss */
nav ul li a {
  color: #eeeeee;
  font-weight: lighter;
  font-family: Arial,sans-serif;
  font-weight: 100;
  color: #999999;
  display: block;
  padding: 5px 20px;
  font-size: 11px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}
/* line 230, ../scss/screen.scss */
nav ul li a:hover {
  color: #999999;
}
/* line 244, ../scss/screen.scss */
nav ul li a img {
  height: 28px;
  display: block;
  margin: -4px auto 3px auto;
}

/* line 254, ../scss/screen.scss */
#legal {
  color: #999999;
  position: fixed;
  bottom: 15px;
  left: 10px;
  z-index: 40;
}
/* line 260, ../scss/screen.scss */
#legal img {
  width: 22px;
  float: left;
}
