/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* filter-gradient needs this */
@font-face {
  font-family: 'michromaregular';
  src: url("fonts/michroma-webfont.eot");
  src: url("fonts/michroma-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/michroma-webfont.woff") format("woff"), url("fonts/michroma-webfont.ttf") format("truetype"), url("fonts/michroma-webfont.svg#michromaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 53, ../scss/screen.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* line 57, ../scss/screen.scss */
::-webkit-scrollbar-track {
  background: #333333;
}

/* line 61, ../scss/screen.scss */
::-webkit-scrollbar-thumb {
  background: #448ccb;
}

/* line 65, ../scss/screen.scss */
a {
  color: #448ccb;
  -webkit-transition: color 0.15s ease-in-out;
  /*safari and chrome */
  -o-transition: color 0.15s ease-in-out;
  /* opera */
  -ms-transition: color 0.15s ease-in-out;
  /* ms */
  transition: color 0.15s ease-in-out;
  /* w3c */
}
/* line 71, ../scss/screen.scss */
a:hover {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 15px #448ccb;
}

/* line 78, ../scss/screen.scss */
html {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FF333333');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #000000), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#000000 30%, #333333);
  background-image: -moz-linear-gradient(#000000 30%, #333333);
  background-image: -o-linear-gradient(#000000 30%, #333333);
  background-image: linear-gradient(#000000 30%, #333333);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #333333;
  height: 100%;
}

/* line 86, ../scss/screen.scss */
body {
  color: #999999;
  font-family: michromaregular,Arial,sans-serif;
  background-color: transparent;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  font-size: 12px;
  background-image: url("../img/lighting.png");
  background-size: 519px 170px;
  background-repeat: no-repeat;
  background-position: 0 20px;
}

/* line 100, ../scss/screen.scss */
#header {
  min-height: 200px;
}
@media (max-width: 767px) {
  /* line 100, ../scss/screen.scss */
  #header {
    min-height: 150px;
  }
}
/* line 105, ../scss/screen.scss */
#header #logo {
  padding: 35px 0 0 40px;
}
/* line 107, ../scss/screen.scss */
#header #logo .clientName {
  font-size: 16px;
  padding-bottom: 5px;
  color: #eeeeee;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(50%, black), to(rgba(0, 0, 0, 0.5)));
}
/* line 112, ../scss/screen.scss */
#header #logo #dashboardHeader {
  font-size: 35px;
  margin-left: -5px;
  display: inline-block;
  padding-bottom: 20px;
  color: #eeeeee;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(50%, black), to(rgba(0, 0, 0, 0.5)));
}
/* line 120, ../scss/screen.scss */
#header #topRightView {
  overflow: auto;
  background-color: transparent;
  max-height: 150px;
  margin: 20px 0;
}
/* line 125, ../scss/screen.scss */
#header #topRightView ul {
  margin: 0;
  list-style: none;
  font-size: 16px;
  color: white;
}
/* line 130, ../scss/screen.scss */
#header #topRightView ul li {
  background-size: 20px 20px;
  padding-bottom: 15px;
  padding-left: 30px;
}
/* line 135, ../scss/screen.scss */
#header #topRightView ul li a {
  color: #448ccb;
}
/* line 137, ../scss/screen.scss */
#header #topRightView ul li a:hover {
  color: white;
}
/* line 148, ../scss/screen.scss */
#header #projectStatuses {
  margin: 20px 0;
}

/* line 153, ../scss/screen.scss */
#centralNav {
  margin-bottom: 20px;
  font-size: 13px;
}
/* line 165, ../scss/screen.scss */
#centralNav a.active {
  color: white;
}
/* line 168, ../scss/screen.scss */
#centralNav a.hover {
  color: white;
}
/* line 174, ../scss/screen.scss */
#centralNav .navLine {
  margin: -9px 0 10px 0;
  height: 5px;
  background-color: transparent;
  border-bottom: 1px solid #555555;
  width: 100%;
}
/* line 180, ../scss/screen.scss */
#centralNav .navLine #positionIndicator {
  width: 100px;
  background-color: #448ccb;
  height: 5px;
  position: relative;
  left: 0%;
}

/* line 191, ../scss/screen.scss */
h1 {
  font-size: 20px;
  display: inline-block;
  color: #eeeeee;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(50%, black), to(rgba(0, 0, 0, 0.5)));
  margin: 0;
}

/* line 197, ../scss/screen.scss */
h2 {
  font-size: 14px;
  margin: 0 0 5px 0;
  line-height: 1em;
}

/* line 203, ../scss/screen.scss */
.module a {
  display: inline-block;
}
/* line 205, ../scss/screen.scss */
.module a.active {
  color: #ffc40d;
}
/* line 209, ../scss/screen.scss */
.module.module:not(:first-child) {
  margin: 20px 0 0 0;
}
/* line 212, ../scss/screen.scss */
.module.module:last-child {
  margin-bottom: 20px;
}

/* line 219, ../scss/screen.scss */
.time {
  color: white;
  font-size: 22px;
  margin-bottom: 5px;
}
/* line 223, ../scss/screen.scss */
.time span {
  font-size: 12px;
  color: #999999;
}

/* line 271, ../scss/screen.scss */
#tabBar {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 30;
  bottom: 0;
  left: 0;
  border-top: 1px solid #999999;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF555555', endColorstr='#FF333333');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #555555), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#555555 30%, #333333);
  background-image: -moz-linear-gradient(#555555 30%, #333333);
  background-image: -o-linear-gradient(#555555 30%, #333333);
  background-image: linear-gradient(#555555 30%, #333333);
}
/* line 281, ../scss/screen.scss */
#tabBar ul {
  list-style: none;
  margin: 0px;
  font-weight: bold;
  font-size: 0;
  text-align: center;
}
/* line 287, ../scss/screen.scss */
#tabBar ul li {
  display: inline-block;
  text-align: left;
  border-right: 1px solid #999999;
  padding: 3px;
}
/* line 291, ../scss/screen.scss */
#tabBar ul li:first-child {
  border-left: 1px solid #999999;
}
@media (max-width: 767px) {
  /* line 295, ../scss/screen.scss */
  #tabBar ul li:first-child {
    border-left: none;
  }
  /* line 298, ../scss/screen.scss */
  #tabBar ul li:last-child {
    border-right: none;
  }
}
/* line 302, ../scss/screen.scss */
#tabBar ul li.active, #tabBar ul li:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF333333', endColorstr='#FF555555');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #333333), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(#333333 30%, #555555);
  background-image: -moz-linear-gradient(#333333 30%, #555555);
  background-image: -o-linear-gradient(#333333 30%, #555555);
  background-image: linear-gradient(#333333 30%, #555555);
}
/* line 307, ../scss/screen.scss */
#tabBar ul li a {
  color: #eeeeee;
  font-weight: lighter;
  font-family: Arial,sans-serif;
  font-weight: 100;
  color: #999999;
  display: block;
  padding: 5px 20px;
  font-size: 11px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}
/* line 309, ../scss/screen.scss */
#tabBar ul li a:hover {
  color: #999999;
}
/* line 311, ../scss/screen.scss */
#tabBar ul li a:hover div#projectTabBarIcon {
  background-position: -203px -43px;
}
/* line 314, ../scss/screen.scss */
#tabBar ul li a:hover div#invoiceTabBarIcon {
  background-position: -381px -43px;
}
/* line 317, ../scss/screen.scss */
#tabBar ul li a:hover div#clientsTabBarIcon {
  background-position: -247px -43px;
}
/* line 320, ../scss/screen.scss */
#tabBar ul li a:hover div#timesheetsTabBarIcon {
  background-position: -293px -43px;
}
/* line 323, ../scss/screen.scss */
#tabBar ul li a:hover div#usersTabBarIcon {
  background-position: -337px -43px;
}
@media (max-width: 767px) {
  /* line 307, ../scss/screen.scss */
  #tabBar ul li a {
    padding: 5px 10px;
  }
}
/* line 342, ../scss/screen.scss */
#tabBar ul li a div {
  background-image: url("../img/geminiIcons.png");
  background-size: 600px 150px;
  background-position: -203px -76px;
  height: 28px;
  display: block;
  margin: -4px auto 0 auto;
}
/* line 349, ../scss/screen.scss */
#tabBar ul li a div#projectTabBarIcon {
  background-position: -203px -76px;
}
/* line 351, ../scss/screen.scss */
#tabBar ul li a div#projectTabBarIcon.active {
  background-position: -203px -43px;
}
/* line 355, ../scss/screen.scss */
#tabBar ul li a div#invoiceTabBarIcon {
  background-position: -381px -76px;
}
/* line 357, ../scss/screen.scss */
#tabBar ul li a div#invoiceTabBarIcon.active {
  background-position: -381px -43px;
}
/* line 361, ../scss/screen.scss */
#tabBar ul li a div#usersTabBarIcon {
  background-position: -337px -76px;
}
/* line 363, ../scss/screen.scss */
#tabBar ul li a div#usersTabBarIcon.active {
  background-position: -337px -43px;
}
/* line 367, ../scss/screen.scss */
#tabBar ul li a div#timesheetsTabBarIcon {
  background-position: -293px -76px;
}
/* line 369, ../scss/screen.scss */
#tabBar ul li a div#timesheetsTabBarIcon.active {
  background-position: -293px -43px;
}
/* line 373, ../scss/screen.scss */
#tabBar ul li a div#clientsTabBarIcon {
  background-position: -247px -76px;
}
/* line 375, ../scss/screen.scss */
#tabBar ul li a div#clientsTabBarIcon.active {
  background-position: -247px -43px;
}

/* line 391, ../scss/screen.scss */
#createProjectForm {
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(50, 50, 50, 0.5);
}
/* line 395, ../scss/screen.scss */
#createProjectForm button[type=submit] {
  margin-top: 20px;
}
